{% extends 'todo/base.html' %}

{% block header %}
<h1>Todo List</h1>
<p>今日のタスクを作成しましょう！</p>
<a class="btn btn-primary" href="{% url 'create' %}">新規作成</a>
{% endblock header %}

{% block content %}
<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">タイトル</th>
            <th scope="col">締切日</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for ele in tasks %}
            <tr>
                <td>{{ ele.title }}</td>
                <td>{{ ele.deadline }}</td>
                <td>
                    <a href="{% url 'detail' ele.pk %}">詳細</a>
                    <a href="{% url 'update' ele.pk %}">編集</a>
                    <a href="{% url 'delete' ele.pk %}">削除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}