{% extends 'todo/base.html' %}

{% block header %}
<h1><div class="mt-5">タスクの作成/編集</div></h1>
{% endblock header %}

{% block content %}
<form action="" method="POST">{% csrf_token %}
    {{ form.non_field_errors }}
        <table>
            <tbody>
                <tr>
                    <th width="150">{{ form.title.label_tag }}</th>
                    <td>{{ form.title }}</td>
                </tr>
                <tr>
                    <th width="150">{{ form.description.label_tag }}</th>
                    <td>{{ form.description }}</td>
                </tr>
                <tr>
                    <th width="150" height="50">{{ form.deadline.label_tag }}</th>
                    <td>{{ form.deadline }}</td>
                </tr>
                <tr>
                    <th width="150" height="50">{{ form.category.label_tag }}</th>
                    <td>
                        {% for radiobutton in form.category %}
                            {{ radiobutton }}　
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th width="150">{{ form.status.label_tag }}</th>
                    <td>
                        {% for radiobutton in form.status %}
                            {{ radiobutton }}　
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
<br>
   <a class="btn btn-outline-secondary" href="{% url 'list' %}" role="button">戻る</a>
   <input class="btn btn-success" type="submit" Value="送信">
</form>
{% endblock content %}