{% extends 'todo/base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    $(function () {
        // 日付は、年-月-日 の形式でお願いする。
        let dateFormat = 'yy-mm-dd';
        $('#id_deadline').datepicker({
            dateFormat: dateFormat
        });
    });
</script>
{% endblock extrahead %}


{% block header %}
<h1><div class="mt-5">タスクの作成/編集</div></h1>
{% endblock header %}

{% block content %}
<form action="" method="POST">{% csrf_token %}
    {{ form.non_field_errors }}
        <table>
            <tbody>
                <tr>
                    <th width="150">{{ form.title.label_tag }}</th>
                    <td>{{ form.title }}</td>
                </tr>
                <tr>
                    <th width="150">{{ form.description.label_tag }}</th>
                    <td>{{ form.description }}</td>
                </tr>
                <tr>
                    <th width="150" height="50">{{ form.deadline.label_tag }}</th>
                    <td><div>{{ form.deadline }}</div></td>
                </tr>
                <tr>
                    <th width="150" height="50">{{ form.category.label_tag }}</th>
                    <td>
                        {% for radiobutton in form.category %}
                            {{ radiobutton }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th width="150">{{ form.status.label_tag }}</th>
                    <td>
                        {% for radiobutton in form.status %}
                            {{ radiobutton }}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
<br>
   <a class="btn btn-outline-secondary" href="{% url 'list' %}" role="button">戻る</a>
   <input class="btn btn-success" type="submit" Value="送信">
</form>
{% endblock content %}

