{% extends 'todo/base.html' %}

{% block header %}
<h1><div class="mt-5">{{ title_name }}</div></h1>
<h6>{{ message }}</h6>
{% endblock header %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>{{ task.title }}_{{ task.category }}</h2>
        <p>{{ task.deadline }}　≪{{ task.status }}≫</p>
        <p><small class="text-muted">{{ task.description }}</small></p>
        <p>
            作成日時　　：{{ task.created_at }}
            <br>
            最終更新日時：{{ task.updated_at }}
        </p>
    </div>
</div>
<a class="btn btn-outline-secondary mt-2" href="{% url 'list' %}" role="button">戻る</a>
{% endblock content %}